h1, h3, p{
	text-align: center;
	font-family: sans-serif;
}

h1{
	font-size: 50px;
}

table, td, th {
  border: 1px solid black;
  padding: 5px;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 60%;
  text-align: left;
  margin-bottom: 20px; 
}

#secoes, thead{
	  font-weight: bold;
	  text-align: center;
}

tr:nth-child(even) {
	background-color:#fff;
}

tr:nth-child(odd) {
	background-color:#d9d9d9;
}

input{
	border: 1px solid black;
	border-radius: 5px;
	width: 10%;
	height: 100%;
	margin-left: 45%;
}


#botoes{
	display: inline;
}

#send, #reset{
	margin: auto;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	width: auto;
}

#send{
	float: left;
	margin-left: 20%; 
}

#reset{
	float: right;
	margin-right: 20%;
}

#final{
	margin-top: 50px;
}

#pedidos{
	text-align: left;
}